@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 171 25% 96%;
    --foreground: 173 35% 25%;

    --card: 171 25% 96%;
    --card-foreground: 173 35% 25%;

    --popover: 171 25% 96%;
    --popover-foreground: 173 35% 25%;

    --primary: 221 89% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 172 26% 83%;
    --accent-foreground: 173 35% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 89% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 173 35% 25%;
    --foreground: 171 25% 96%;

    --card: 173 35% 25%;
    --card-foreground: 171 25% 96%;

    --popover: 173 35% 25%;
    --popover-foreground: 171 25% 96%;

    --primary: 221 89% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 172 26% 83%;
    --accent-foreground: 173 35% 25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 221 89% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
