@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-padding-top: 7rem; /* Adjust for sticky header */
    scroll-behavior: smooth;
  }
  
  :root {
    --background: 210 20% 98%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 44 100% 50%; /* #FFBB00 */
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 24 9.8% 83.9%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 44 100% 50%; /* #FFBB00 for ring */

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 44 100% 50%; /* #FFBB00 */
    --primary-foreground: 222.2 84% 4.9%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --success: 142.1 76.2% 36.3%;
    --success-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 44 100% 50%; /* #FFBB00 for ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-google-blue {
  color: #4285F4;
}

.bg-google-blue {
  background-color: #4285F4;
}

.bg-google-red {
  background-color: #DB4437;
}

.text-pink-500 {
  color: #ec4899;
}
.bg-pink-500 {
  background-color: #ec4899;
}
.text-green-500 {
  color: #22c55e;
}
.bg-green-500 {
  background-color: #22c55e;
}
.text-purple-500 {
  color: #a855f7;
}
.bg-purple-500 {
  background-color: #a855f7;
}
.text-indigo-500 {
  color: #6366f1;
}
.bg-indigo-500 {
  background-color: #6366f1;
}
.text-orange-500 {
  color: #f97316;
}
.bg-orange-500 {
  background-color: #f97316;
}
.text-yellow-400 {
  color: #facc15;
}
.bg-yellow-400 {
  background-color: #facc15;
}
.text-red-500 {
  color: #ef4444;
}
.bg-red-500 {
  background-color: #ef4444;
}
